@use 'variables' as *;

@mixin flex-setup{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin mobile-view{
    @media only screen and (max-width: 600px){
      @content;
    }
}