html{
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    background: 
        url('/images/Ellipse-2.png') left top / contain no-repeat,
        linear-gradient(to right, #101010, #101010);
    color: #fff;
}

*,
::before,
::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}